{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if is_edit %}Edit Category{% else %}Add Category{% endif %}</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/solar/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
    </style>
</head>
<body>
    
    <div class="container"style="width: 500px;">
        <h1>{% if is_edit %}Edit Brand{% else %}Add Brand{% endif %}</h1>
        <form method="POST" action="{% if is_edit %}{% url 'edit_brand' brand.id %}{% else %}{% url 'add_brand' %}{% endif %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">{% if is_edit %}Edit Brand{% else %}Add Brand{% endif %}</button>
    </form></div>
    
</body>
</html>
