{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if is_edit %}Edit Product{% else %}Add Product{% endif %}</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/quartz/bootstrap.min.css">
    
</head>
<body>
    <div class="container" style="width: 500px;">
        <h1 class="text-secondary">{% if is_edit %}Edit Product{% else %}Add a New Product{% endif %}</h1>
        <form method="POST" action="{% if is_edit %}{% url 'edit_product' product.id %}{% else %}{% url 'add_product' %}{% endif %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}  <!-- Render the form fields -->
            <button type="submit" class="btn btn-primary">{% if is_edit %}Edit Product{% else %}Add Product{% endif %}</button>
        </form>
    </div>

</body>
</html>
